<nav class="navbar navbar-expand-lg navbar-light extreme-bars fixed-top" id="menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<!--<i class="fa fa-cog text-warning fs-16" aria-hidden="true"></i>-->
    <div class="collapse navbar-collapse ml-5 mr-5" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex align-items-center">
            <li class="nav-item active">
                <div class="dropdown engrenagem">
                    <a class="dropdown d-block" id="dropdownMenuButton" data-toggle="dropdown">
                        <img src="{{foto}}" alt="Imagem perfil" width="50px" height="50px" class="foto-perfil rounded-circle">
                        <i class="fa fa-cog text-warning fs-16 absolute engr" aria-hidden="true" id="iconEngine"></i>
                    </a>
                    <div id="config" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/user-edit', id]"
                            routerLinkActive="router-link-active"><i class="fa fa-user p-1" aria-hidden="true"></i> Edit Profile</a>
                        <a class="dropdown-item" (click)="sair()"><i class="fa fa-sign-out p-1"
                            aria-hidden="true"></i> Exit</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item pl-3">
                <p class="m-0 font-weight-bold text-white fs-16">Hellow, {{nome}}!</p>
            </li>
            <li class="nav-item pl-3">
                
            </li>
        </ul>
        <ul class="p-0 m-0 m-auto"><a routerLink="/inicio"><img class="logo" src="../../assets/img/DigitalArtLogo3.png" alt="Logo DigitalArt"></a></ul>
        <!--<ul class="navbar-nav d-flex align-items-center">
            <a (click)="sair()" class="m-0 font-weight-bold text-white fs-16 exit">Exit<i class="fa fa-sign-out p-1"
                    aria-hidden="true"></i></a>
        </ul>-->
    </div>
</nav>