#img-bg {
    background-image: url("../../assets/img/xPOZq9.jpg");
    /*transform: rotateY(180deg);*/
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-enter {
    width: 600px;
    height: 650px;
    border-radius: 150px 20px 150px 20px;
    background-color: #0f4c5c;
    box-shadow: 0px 8px 10px #ffe75c;
}

.btn-color {
    background-color: #fca311;
    color: white;
}

.btn-color:hover {
    background-color: #c8810f;
}

.btn-shadow {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}

.font-color {
    color: aliceblue;
}

a {
    color: #fca311;
}

input {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}

select {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}