<div class="container-fluid bg-enter font-color">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1 class="text-center mb-3">Enter</h1>
                    <div class="form-group">
                        <label for="user">User</label>
                        <input [(ngModel)]="userLogin.usuario" class="form-control" type="text" name="user" id="user" placeholder="Your username">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [(ngModel)]="userLogin.senha" class="form-control" type="password" name="password" id="password" placeholder="Your password">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-color btn-shadow" (click)="entrar()" >Sing In</button>
                    </div>

                    <hr class="mt-5 mb-5">
                    <p class="text-center">Don't have account? <a routerLink="/cadastrar">Register</a></p>
                </div>

            </div>
        </div>

        <div class="col-md-6" id="img-bg">

        </div>
    </div>
</div>
