
#img-bg {
    background-image: url("../../assets/img/workspace.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}

select {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}

.bg-enter {
    width: 550px;
    height: 580px;
    border-radius: 150px 20px 150px 20px;
    background-color: #0f4c5c;
    box-shadow: 0px 8px 10px #d3ba6b;
}

.btn-color {
    background-color: #fca311;
    color: white;
}

.btn-color:hover {
    background-color: #c8810f;
}

.font-color {
    color: aliceblue;
}

a {
    color: #fca311;
}

.btn-shadow {
    box-shadow: 0px 5px 10px rgb(36, 36, 36);
}

.estilo-entrar{
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 100px 100px 100px 100px;
}

.hr-login{
    border-color: rgb(172, 172, 172);
}

.logo{
    width: 210px;
}