/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

.extreme-bars {
    background-color: #0f4c5c;
}

.btn-orange {
    background-color: #fca311;
}

p{
    font-family: cursive;
}

h1{
    font-family: cursive;
}

h2{
    font-family: cursive;
}

h3{
    font-family: cursive;
}

h4{
    font-family: cursive;
}

h5{
    font-family: cursive;
}

a{
    font-family: cursive;
}

input{
    font-family: cursive;
}

span{
    font-family: cursive;
}

label{
    font-family: cursive;
}