ul.social-network {
    list-style: none; 
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}
/*
.fa {
    font-size: 35pt;
    color: aliceblue;
    padding: 10px;
}

.fa-instagram:hover {
    color: #fca311;
}

.fa-twitch:hover {
    color: #fca311;
}

.fa-linkedin-square:hover {
    color: #fca311;
}

.fa-github:hover {
    color: #fca311;
}
*/

.social-rdp{
    width: 60px;
    padding: 5px;
    filter: saturate(0%);
    transition: 0.5s;
}

.social-rdp:hover{
    padding: 0px;
    filter: saturate(100%);
}

#rdp{
    border-radius: 60px 60px 0px 0px;
    box-shadow: 0px -5px 15px #585858;
}