<footer id="rdp" class="page-footer font-small extreme-bars pt-4">

    <div class="container">
        <div>
            <div class="con-md-12 text-center">
                <h4 class="text-white"> Follow us on social media!</h4>
            </div>
        </div>
    </div>
    <!--
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-twitch" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-github" aria-hidden="true"></i>
    -->
        <div class="col-md-12 d-flex justify-content-center p-0">
            <ul class="social-network">
                <li>
                    <a href="https://www.instagram.com/dominusxxi/" target="_blank" class="icoInstagram"><img src="../../assets/img/instagram-c.png" alt="icone Instagram" class="social-rdp"></a>
                </li>
                <!--
                <li>
                    <a href="https://www.twitch.tv/dominusxxi" target="_blank" class="icoTwitch"><img src="../../assets/img/twitch-c.png" alt="icone Twitch" class="social-rdp"></a>
                </li>
                -->
                <li>
                    <a href="https://www.linkedin.com/in/vitor-brand%C3%A3o-silva-7a16041a5/" target="_blank" class="icoLinkedin"><img src="../../assets/img/linkedin-c.png" alt="icone Linkedin" class="social-rdp"></a>
                </li>
                <li>
                    <a href="https://github.com/VitorBrandaoS" target="_blank" class="icoGitHub"><img src="../../assets/img/github-c2.png" alt="icone Github" class="social-rdp"></a>
                </li>
            </ul>
        </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">
            © 2021 Copyright: Vitor Brandão
        </span>
    </div>

</footer>
