<footer class="page-footer font-small extreme-bars pt-4">

    <div class="container">
        <div>
            <div class="con-md-12 text-center">
                <h4 class="text-white"> Follow us on social media!</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class="icoInstagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class="icoTwitch"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class="icoLinkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="" target="_blank" class="icoGitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">
            © 2021 Copyright: Vitor Brandão
        </span>
    </div>

</footer>
