.bg-inicio {
    background-color: #0a323b;
}

.bg-img {
    background: url("../../assets/img/circles.jpg");
    background-repeat: no-repeat;
    height: 700px;
}

.btn-color {
    background-color: #fca311;
}

.btn-color:hover {
    background-color: #c8810f;
}

